body {
  background: rgb(255,255,255);
  background: linear-gradient(87deg, rgba(255,255,255,1) 0%, rgba(247,251,255,1) 42%, rgba(242,248,255,1) 66%, rgba(239,247,255,1) 80%, rgba(233,244,255,1) 100%);
}

.container {
  display: flex;
  justify-content: space-between;
}
.currency {
  width: 350px;
  padding: 30px 0 0 100px;
  box-shadow: 0px 0px 10px #1C6FA6;
}

.currency__title {
  font-size: 36px;
}

.currency__filter {
  margin: 20px 0;
}

.currency__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.currency__icon {
  margin-right: 10px;
  width: 30px;
}

.currency__code{
  margin-left: 10px;
  font-weight: 700;
}

.currency__button {
  background-color: white;
  border: 1px solid #1C6FA6;
  color: black;
  width: 60px;
  padding: 3px 0px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.currency__button--pressed{
  background-color: #1C6FA6;
  color: white;
}

.currency__button:hover {
  background-color: #1C6FA6;
  color: white;
}

.transaction {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px #1C6FA6;
  margin-top: 50px;
}

.transaction__money, .transaction__date, .transaction__state, .transaction__text {
  margin-left: 80px;
}

.transaction__state--done {
  color: green;
}

.transaction__state--fail {
  color: red;
}

.transaction__state--pending {
  color: orange;
}