body {
  background: rgb(255,255,255);
  background: linear-gradient(87deg, rgba(255,255,255,1) 0%, rgba(247,251,255,1) 42%, rgba(242,248,255,1) 66%, rgba(239,247,255,1) 80%, rgba(233,244,255,1) 100%);
}

.container {
  display: flex;
  justify-content: space-between;
}
.currency {
  width: 350px;
  padding: 30px 0 0 100px;
  box-shadow: 0px 0px 10px #1C6FA6;
}

.currency__title {
  font-size: 36px;
}

.currency__filter {
  margin: 20px 0;
}

.currency__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.currency__icon {
  margin-right: 10px;
  width: 30px;
}

.currency__code{
  margin-left: 10px;
  font-weight: 700;
}

.currency__button {
  background-color: white;
  border: 1px solid #1C6FA6;
  color: black;
  width: 60px;
  padding: 3px 0px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.currency__button--pressed{
  background-color: #1C6FA6;
  color: white;
}

.currency__button:hover {
  background-color: #1C6FA6;
  color: white;
}

.transaction {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px #1C6FA6;
  margin-top: 50px;
}

.transaction__line{
  width: 100%;
}

.transaction__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.transaction__title {
  font-size: 36px;
  text-align: center;
}

.transaction__item--header {
  font-weight: 700;
}

.transaction__info-sell {
  position: absolute;
  display: flex;
  align-items: center;
  left: 35%;
}

.transaction__info-buy {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
}

.transaction__icon {
  width: 25px;
  margin-right: 15px;
}

.transaction__date {
  position: absolute;
  left: 70%;
}

.transaction__state {
  position: absolute;
  left: 85%;
}

.transaction__text {
  margin-right: 20px;
}

.transaction__state--done {
  color: green;
}

.transaction__state--fail {
  color: red;
}

.transaction__state--pending {
  color: orange;
}

table {
  width: 100%;
  font-size: 18px;
}

th {
  font-weight: 700;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

td {
  display: flex;
  align-items: center;
}

table, th, td {
  border:1px solid black;
}