$blue-color: #1C6FA6;
$white-color: white;
$black-color: black;

$light-grey-color: #f5f5f5;
$grey-color: #525252;

$footer-bg: rgb(242, 242, 242);

$gradient-purple-color:rgba(119,81,163,1);
$gradient-blue-color:rgba(97,136,235,1);

$orange-color: orange;
$red-color: red;
$green-color: green;