.currency-line {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-grey-color;
  box-shadow: 0px 0px 10px $blue-color;
  position: relative;

  &__text {
    margin: 25px 30px 25px;
    color: $grey-color;

    @media (max-width: 1080px) {
      font-size: 14px;
    }

    @media (max-width: 700px) {
      margin: 10px 9px;
    }

    @media (max-width: 480px) {
      margin: 10px 9px;
      font-size: 10px;
    }
  }  
}
