.transaction {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px $blue-color;
  margin-top: 50px;

  @media (max-width: 500px) {
    padding: 20px 0px;
    box-shadow: 0px 0px 0px $blue-color;
  }

  &__line{
    width: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;

    &--header {
      font-weight: 700;
    }
  }

  &__title {
    font-size: 36px;
    text-align: center;

    @media (max-width: 650px) {
      font-size: 24px;
    }
  }

  &__info-sell {
    display: flex;
    align-items: center;
    width: 35%;

    @media (max-width: 1500px) {
      width: 42.5%;
    }

    @media (max-width: 1270px) {
      width: 50%;
    }

    @media (max-width: 980px) {
      width: 35%;
    }

    @media (max-width: 650px) {
      width: 42.5%;
    }

    @media (max-width: 550px) {
      width: 55%;
    }
  }

  &__info-buy {
    display: flex;
    align-items: center;
    width: 35%;

    @media (max-width: 1500px) {
      width: 42.5%;
    }

    @media (max-width: 1270px) {
      width: 50%;
    }

    @media (max-width: 980px) {
      width: 35%;
    }

    @media (max-width: 650px) {
      width: 42.5%;
    }

    @media (max-width: 550px) {
      width: 55%;
    }
  }

  &__icon {
    width: 25px;
    margin-right: 15px;

    @media (max-width: 420px) {
      margin-right: 0px;
    }
  }

  &__text {
    margin-right: 20px;

    @media (max-width: 700px) {
      margin-right: 10px;
    }
  }

  &__date {
    width: 15%;

    @media (max-width: 1500px) {
      width: 7.5%;
    }

    @media (max-width: 1270px) {
      display: none;
    }

    @media (max-width: 980px ) {
      width: 15%;
      display: block;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__state {
    width: 15%;

    @media (max-width: 1500px) {
      display: none;
    }

    @media (max-width: 980px) {
      width: 15%;
      display: block;
    }

    @media (max-width: 550px) {
      display: none;
    }

    &--done {
      color: $green-color;
    }

    &--fail {
      color: $red-color;
    }

    &--pending {
      color: $orange-color;
    }
  }
}